.sign-in{
    --ion-background-color: #63254E;
}

ion-input{
    --background: #E9C36A;
    color: #000000;
    --padding-start: 5px
}

.my-custom-class{
    --background: #63254E;
}

ion-item-divider{
    --background: #63254E;
}

ion-item{
    --background: #E66F51;
    margin: auto;
}

ion-button{
    --background: #F3A361;
     color: #941E30;
}

form{
    margin-top: 50%;
    height: 50%;
}