.login-page{
    --ion-background-color: #63254E;
}

.toolbar{
    --background: #E66F51;
}

.button-bttn{
    --background: #E66F51;  
    font-size: large;
    color: #941E30;
}

.icon{
    color: #ffffff;  
}

.tabs{
    --background: #E66F51;
}