
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="search-place"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="schedule">
      <Strong>Percentage</Strong>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <Strong>Navigation</Strong>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <Strong>Direction</Strong>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
