#map {
  width: 100%;
  height: 100%;
}

ion-card {
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  margin-bottom:  20%;
}

ion-toolbar{
    --background: #E66F51;
    margin-left: 0%;
}

ion-button{
  margin-top: 14px;
  --background: #E9C36A;
}

.my-custom-class{
  --background: #63254E;
}

ion-icon{
  color:  #000;
}

ion-searchbar{
  --background: #E9C36A;
  color: #000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

ion-item{
  --background: #E66F51;
    color: #000000;
    margin-right: 10;
}

#map {
    height: 100%;
  }
  
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  ion-content ion-toolbar {
    --background: translucent;
  }

  Strong{
    font-size:small;
    color: #941E30;
    margin-bottom: auto;
  }

  .tabs{
    --background: #E66F51;
    color: #941E30;
}